*.log
.cache
.env
.php*.cache
.phpactor.json
/.coverage
/.infection
/data
/vendor
/venv
__pycache__
composer.lock
clover.xml

# Local config overrides (not committed)
/phpunit.xml
/psalm.xml
/infection.json5
